---
import { RainbowButton } from "@/components/ui/rainbow-button";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="404 Error - Página no Disponible | AstroTips - Los Mejores Tips & Tricks para Astro">
  <section
    class="[background:radial-gradient(125%_125%_at_50%_10%,#080929_40%,#8960FF_100%)] min-h-screen flex justify-center items-center"
  >
    <div class="relative z-10 flex flex-col justify-center items-center text-center text-white px-4 gap-4 sm:gap-4">
      <img
        src="/Illustration404.png"
        alt="Ilustración de error 404 - Página no encontrada"
        class="h-32 sm:h-48 animate-bounce-up-down transition transform pb-5"
      />
      <div>
        <h1 class="text-4xl sm:text-5xl font-bold text-white">Oops! La página que buscas no existe</h1>
        <p class="mt-4 text-lg sm:text-2xl font-light text-gray-200 leading-7 sm:leading-9">
          La página pudo haber sido eliminada o el enlace que seguiste es incorrecto.
        </p>
      </div>
      <a href="/" class="mt-6">
        <RainbowButton>Volver a Página Principal</RainbowButton>
      </a>
    </div>
  </section>
</MainLayout>
