---
import MainLayout from "../layouts/MainLayout.astro";

import Questions from "../components/Questions.astro";
import AboutCard from "../components/AboutCard.astro";
import HeroBanner from "../components/HeroBanner.astro";
import CTA from "../components/CTA.astro";
---

<MainLayout title="Home Page | AstroTips - Los Mejores Tips & Tricks para Astro">
  <div class="relative bg-cover min-h-screen" style="background-image: url('/GradientBackground.jpg');">
    <main class="max-w-6xl mx-auto px-4 py-8 flex flex-col">
      <HeroBanner />
      <Questions />
      <AboutCard />
    </main>
    <CTA />
  </div>
</MainLayout>
