---
import MainLayout from "@/layouts/MainLayout.astro";
import TipsAccordion from "@/components/TipsAccordion.tsx";

import { LucideSearch } from "lucide-react";
import { TIPS } from "@/lib/data";
---

<MainLayout title="Tips Page | AstroTips - Los Mejores Tips & Tricks para Astro">
  <section
    class="relative bg-cover min-h-screen bg-center bg-fixed"
    style="background: radial-gradient(125% 125% at 20% 10%, #080929 10%, #8860ff6b 100%)"
  >
    <div class="max-w-6xl mx-auto px-4 py-8 flex flex-col">
      <form class="flex justify-center pt-6 pb-6" aria-labelledby="search-form" role="search">
        <div class="relative flex items-center w-full max-w-3xl">
          <LucideSearch className="absolute left-4 text-gray-400 size-5 shrink-0 transition-transform duration-200" />
          <input
            id="search-input"
            type="text"
            name="search"
            placeholder="Sobre qué te gustaría aprender hoy?"
            class="pl-12 pr-6 py-3 text-md sm:text-xl text-gray-200 rounded-full w-full bg-[#241635a9] focus:outline-none border border-gray-700 focus:border-gray-600 transition-colors duration-200"
            aria-label="Buscar consejo o recurso"
            aria-describedby="search-help-text"
          />
        </div>
      </form>

      <TipsAccordion tips={TIPS} client:only />
    </div>
  </section>
</MainLayout>

<script>
  const form = document.querySelector("form");

  form?.addEventListener("submit", (e) => {
    e.preventDefault();

    const formData = new FormData(form);
    const search = formData.get("search")!.toString().toLowerCase();

    const url = new URL("/tips", window.location.origin);
    url.searchParams.set("search", search);

    window.location.assign(url.toString());
  });
</script>
