---
import MainLayout from "@/layouts/MainLayout.astro";

import Search from "@/components/Search.astro";
import TipsAccordion from "@/components/TipsAccordion.tsx";
---

<MainLayout title="Tips Page | AstroTips - Los Mejores Tips & Tricks para Astro">
  <section
    class="relative bg-cover min-h-screen [background:radial-gradient(125%_125%_at_50%_10%,#080929_40%,#8960FF_100%)] bg-center bg-fixed"
  >
    <div class="max-w-6xl mx-auto px-4 py-8 flex flex-col">
      <Search client:load />

      <TipsAccordion client:load />
    </div>
  </section>
</MainLayout>
