---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
	title='Tips Page | AstroTips - Los Mejores Tips & Tricks para Astro'
	description='AstroTips es un proyecto creado para compartir consejos, recursos y ejemplos de código sobre Astro, la nueva tecnología de construcción de sitios web.'
>
	<div class="relative bg-cover min-h-screen [background:radial-gradient(125%_125%_at_50%_10%,#080929_40%,#8960FF_100%)]">
        Tips
	</div>
</MainLayout>