---
import { BorderBeam } from "./ui/border-beam"
---

<section class="relative bg-cover w-full mb-32 items-center text-white flex flex-col gap-80 hover:-translate-y-3 transition-transform">
    <div class="h-full w-full bg-gradient-to-tr from-[#ffffff0e] to-transparent from-0% rounded-xl bg-clip-padding backdrop-filter backdrop-blur-md border border-transparent p-10" 
     style="border-image: linear-gradient(to bottom left, #2D2163, #ffffff1e) 1;">
        <div class="flex flex-col gap-10">
            <div class="flex gap-5">
                <a href="https://github.com/Francogalfre"><img src="/Avatar.png" alt="Foto de Perfil de Github de Franco Galfre" class="w-16 h-16 rounded-full"></a>
                <div class="flex flex-col justify-between">
                    <span class="text-2xl font-semibold">Franco Galfre</span>
                    <span class="text-lg font-light text-gray-200">Desarrollador Web - Diseñador UI/UX</span>
                </div>
            </div>
            <p class="text-xl font-thin text-gray-200 leading-9">
                Soy un desarrollador web apasionado por las tecnologías modernas, y este proyecto lo creé como una forma de practicar Astro mientras comparto mis conocimientos con otros. Mi objetivo es enseñar a los desarrolladores a aprovechar las ventajas de Astro para crear sitios web rápidos y eficientes.
                <br />
                <br />
                A través de AstroTips, espero ofrecer consejos prácticos, recursos útiles y ejemplos de código que puedan ayudar a otros a mejorar sus habilidades en el desarrollo web. Este proyecto es tanto un desafío personal como una oportunidad para colaborar y aprender con la comunidad.
                <br />
                <br />
                Este proyecto también me permite explorar nuevas formas de mejorar la experiencia de desarrollo y de usuario. Me entusiasma la idea de poder optimizar el rendimiento de sitios web y simplificar los flujos de trabajo de desarrollo mediante el uso de Astro. Al compartir mis avances y soluciones, quiero fomentar una comunidad de aprendizaje en la que todos podamos crecer y avanzar juntos.
            </p>
        </div>
    </div>
    <BorderBeam />
</section>