<section class="relative bg-cover min-h-screen w-full text-white flex flex-col gap-80">
    <div class="h-full w-full bg-purple-200  rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 border border-gray-100 border-opacity-20">
        <h1>hasjgasjgas</h1>
    </div>
</section>