<footer class="flex justify-center items-center bg-[#121140] h-16 backdrop-filter backdrop-blur-lg bg-opacity-30">
  <span class="text-gray-200">
    &copy; 2025 Project made with ❤️ by
    <a
      href="https://www.linkedin.com/in/francogalfre/"
      target="_blank"
      rel="noopener noreferrer"
      title="Visita el Perfil de Linkedin de Franco"
    >
      Franco
    </a>
  </span>
</footer>
