<footer class="flex justify-center items-center bg-[#121140] h-16 backdrop-filter backdrop-blur-lg bg-opacity-30">
    <span class="text-gray-200">Project made with ❤️ by <a href="https://www.linkedin.com/in/francogalfre/">Franco</a></span>
</footer>