

<section class="relative w-full h-screen bg-cover bg-center bottom-[80px]" style="background-image: url('/GradientBackground.jpg');">
    <div class="absolute inset-0 bg-black opacity-20"></div> 
  
    <div class="relative z-10 flex flex-col justify-center items-center h-full text-center text-white px-4 gap-8 ">
        <img src="/AstroIcon.svg" alt="Astro Logo" class="w-32 h-32" />
        <div>
            <h1 class="text-8xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-white from-40% to-transparent">Bienvenido a AstroTips</h1>
            <p class="mt-4 text-2xl font-thin text-gray-200 leading-9">
                Descubre cómo optimizar tus proyectos en Astro con consejos prácticos,
                <br />
                mejores prácticas y recursos diseñados para ayudarte a crear aplicaciones 
                <br />
                rápidas, escalables y fáciles de mantener.
            </p>
        </div>
    </div>
</section>