<section>
    <div>
        <h1>¿Que es Astro?</h1>
        <p>Astro es un framework moderno para crear sitios web rápidos y optimizados. Su principal ventaja es que renderiza contenido en el servidor, enviando solo HTML al navegador, lo que mejora el rendimiento al reducir la carga de JavaScript innecesaria.
            Astro permite trabajar con diferentes tecnologías, como React, Vue o Svelte, dentro de un solo proyecto, lo que lo hace flexible y adaptable a distintas necesidades. También es ideal para proyectos centrados en contenido, ya que puede cargar datos desde APIs, CMS o archivos locales.</p>
    </div>
</section>