<section class="relative w-full h-screen text-white flex flex-col gap-80">
    <div class="flex flex-col gap-6 justify-start text-start">
        <h1 class="text-5xl font-semibold ">¿Que es Astro?</h1>
        <p class="text-xl font-thin text-gray-200 leading-9">
            Astro es un framework moderno para crear sitios web rápidos y optimizados. Su principal ventaja es que renderiza contenido en el servidor, enviando solo HTML al navegador, lo que mejora el rendimiento al reducir la carga de JavaScript innecesaria.
            <br />
            <br />
            Astro permite trabajar con diferentes tecnologías, como React, Vue o Svelte, dentro de un solo proyecto, lo que lo hace flexible y adaptable a distintas necesidades. También es ideal para proyectos centrados en contenido, ya que puede cargar datos desde APIs, CMS o archivos locales.
        </p>
        <a href="https://astro.build" class="inline-flex max-w-[200px] justify-center rounded-full px-5 py-2.5 text-[18px] font-medium border-2 border-slate-600 hover:bg-slate-600 transition-colors">Mas Informacion</a>
    </div>
    <div class="flex flex-col gap-6 justify-end text-end">
        <h1 class="text-5xl font-semibold ">¿Por que debería usar AstroTips?</h1>
        <p class="text-xl font-thin text-gray-200 leading-9">
            En AstroTips, encontrarás consejos prácticos para mejorar tu flujo de trabajo con Astro, buenas prácticas para optimizar el rendimiento de tus sitios, y ejemplos de código que podrás usar en tus proyectos. Además, formarás parte de una comunidad activa de desarrolladores que comparten recursos y conocimientos sobre Astro.
        </p>
    </div>
</section>