---
import SearchIcon from "../../public/icons/SearchIcon.astro"
---

<form action="" class="justify-center flex pt-10">
    <div class="relative flex items-center">
        <SearchIcon />
        <input 
            type="text" 
            name="search" 
            placeholder='Busca un tip...'
            class="pl-12 pr-6 py-3 text-xl text-gray-200 rounded-full bg-[#241635a9] focus:outline-none"
        >
    </div>
</form>