---
import Navbar from "../components/Navbar.astro"
import HeroBanner from "../components/HeroBanner.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="./global.css">
		<title>Home Page - AstroTips</title>
	</head> 
	<body class="bg-[#03030E] min-h-screen">
		<div class="relative bg-cover min-h-screen" style="background-image: url('/public/GradientBackground.jpg');">
            <Navbar />
            <HeroBanner />

            <main class="max-w-5xl mx-auto px-4 py-8 flex flex-col gap-60">
                <slot />
				<footer class="text-gray-200 flex justify-center pb-8">Project made with ❤️ by Franco</footer>
            </main>
        </div>

	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;;
		font-family: 'Outfit', sans-serif;
	}
</style>